
.slick-slide {
    padding: 0; 
  }
  
  .slick-list {
    margin: 0 -5px; 
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }
  
  .slick-slide > div {
    margin: 0 5px; 
  }
  
  
  .slick-slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  