
.slick-slide {
    padding: 0; 
  }
  
  .slick-list {
    margin: 0 -5px; 
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }
  
  .slick-slide > div {
    margin: 0 5px; 
  }
  
  
  .slick-slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  .image-container {
    width: 300px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    /* margin: 0 auto; Center the container */
    overflow: hidden; /* Ensure no overflow */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
  }
 
  
  
  